<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .problem-region {
            background-color: pink;
            padding-left: 600px;
            padding-top: 50px;
        }
        .problem2 {
            background-color: lightblue;
            margin-top: 200px;
            padding-left: 600px;
        }
        .problem2 > img{
            margin-top: 500px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-if="getRandom">
            Now you see me
          </div>
          <div v-else>
            Now you don't
          </div>
        <div class = 'problem-region'>
            <img :src='getImgSrc' :alt='proTitle'>
            <br>
                <input type="radio" id="A" value="A" style="height: 20px; width: 20px;" v-model="picked[problemId - 301]" />
                <label for="one" style="padding-right: 30px;">A</label>
                <input type="radio" id="B" value="B" style="height: 20px; width: 20px" v-model="picked[problemId - 301]" />
                <label for="two" style="padding-right: 30px;">B</label>
                <input type="radio" id="C" value="C" style="height: 20px; width: 20px" v-model="picked[problemId - 301]" />
                <label for="two" style="padding-right: 30px;">C</label>
                <input type="radio" id="D" value="D" style="height: 20px; width: 20px" v-model="picked[problemId - 301]" />
                <label for="two" style="padding-right: 30px;">D</label>
                <br />
                <span>Picked: {{ picked }}</span>
            <br>
            <button @click="nextProblem($event)">NEXT PROBLEM</button>
            <br>
            <button @click="preProblem">PREVIOUS PROBLEM</button>
        </div>
        <button @click = 'changeTrue'>change css</button>

        <div :class = '{problem2: isP2}'>
            <ol>
                <li v-for="p in probs" style="marginTop: 100px;">
                <img :src="p.src" alt="test">
                
                </li>
                
            </ol>
        </div>
    </div>
    <script src="./vue3.js"></script>
    <script>
        let root = {
            data(){
                return {
                    problemId : 301,
                    imgSrc: './problems/2019/20190301/201903010301.png',
                    proTitle: 'problems',
                    isP2: true,
                    probs: [
                        {
                            src: './problems/2019/20190301/201903010301.png',
                            year: 2019,
                            paperID: 20190301
                        },
                        {
                            src: './problems/2019/20190301/201903010302.png',
                            year: 2019,
                            paperID: 20190301
                        },{
                            src: './problems/2019/20190301/201903010303.png',
                            year: 2019,
                            paperID: 20190301
                        },{
                            src: './problems/2019/20190301/201903010304.png',
                            year: 2019,
                            paperID: 20190301
                        },{
                            src: './problems/2019/20190301/201903010305.png',
                            year: 2019,
                            paperID: 20190301
                        },{
                            src: './problems/2019/20190301/201903010306.png',
                            year: 2019,
                            paperID: 20190301
                        },{
                            src: './problems/2019/20190301/201903010307.png',
                            year: 2019,
                            paperID: 20190301
                        },{
                            src: './problems/2019/20190301/201903010308.png',
                            year: 2019,
                            paperID: 20190301
                        }
                        ],
                    randNum: 0,
                    picked: []
                }
            },
            computed: {
                getRandom() {
                    return this.randNum > 0.5
                },
                getImgSrc() {
                    return './problems/2019/20190301/201903010' + this.problemId +'.png'
                }
            },
            mounted(){
                setInterval(() => {
                    this.randNum = Math.random()
                }, 2000);
                this.picked = new Array(20)
                this.picked.fill('')
                console.log(this.picked)
            },
            methods: {
                changeTrue(){
                    this.isP2 = !this.isP2
                },
                nextProblem(event){
                    this.problemId++
                    // this.imgSrc = './problems/2019/20190301/201903010' + this.problemId +'.png' 
                    console.log(event)
                },
                preProblem(){
                    if (this.problemId >= 302){
                        this.problemId--
                    }else{
                        alert('no more previous')
                    }
                }
            }
        }
        const app = Vue.createApp(root)
        const vm = app.mount('#app ')
    </script>
</body>
</html>
