/* body {
    background-image: url("/static/images/sea.jpg");
} */

img {
    width: auto;
    height: auto;
    background-color: lightblue;
}

h1 {
    color: darkblue;
}

h2 {
    color: lightseagreen;
}

/* .div-content {
    background-color: white;
} */

.problem {
    height: 300px;
    width: 300px;
    background-color: lightblue;
}

.header {
    height: 50px;
    width: 100%;
    background-color: lightskyblue;
}

.header-link {
    font-size: 50px;
    font-family: serif;
    top: center;
    margin-left: 300px;
}

@media(min-width: 400px) {
    img {
        width: auto;
        height: auto;
    }
}