/* body {
    background-image: url("/static/images/sea.jpg");
} */

img {
    width: auto;
    height: auto;
    background-color: lightblue;
}

h1 {
    color: darkblue;
}

h2 {
    color: lightseagreen;
}

/* .div-content {
    background-color: white;
} */

@media(min-width: 400px) {
    img {
        width: auto;
        height: auto;
    }
}